#GOOGLE_API_KEY=false

# To use vertexai keep it true and false to use gemini
GEMINI_USE_VERTEX=true

GCP_PROJECT_ID=silicon-shape-484306-u7

GCP_REGION=us-central1

# BigQuery 
BQ_DATASET_ID=silicon-shape-484306-u7.knowledgespace_metadata
BQ_TABLE_ID=silicon-shape-484306-u7.knowledgespace_metadata.knowledge_table
BQ_LOCATION=US            

INDEX_ENDPOINT_ID=
DEPLOYED_INDEX_ID=


EMBED_MODEL_NAME=nomic-ai/nomic-embed-text-v1.5
INDEX_ENDPOINT_ID_FULL=
VECTOR_API_EP=


# For Scraping data
PUBLIC_API_URL=https://api.knowledge-space.org
ELASTIC_BASE_URL=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=
PAGE_SIZE=1000
GCS_BUCKET=
GCS_PREFIX=
